.fondo {
  background-color: #f8f8f8;
}

.fondo .texto {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fondo .texto h1 {
  font-size: 2.5rem;
  margin-top: -15px;
  font-weight: 600;
}

.fondo .texto h5 {
  font-family: "Square Peg", cursive;
  font-size: 3rem;
  margin-left: 5px;
}

.fondo .imgPrincipal {
  background-image: url("../../../assets/img/food.png");
  background-repeat: none;
  background-size: cover;
  height: 80vh;
  padding: 0;
}

.fondo .imgPrincipal img {
  padding: 0;
}

.horarios {
  margin-top: -280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
}

.horarios .card-1 {
  margin-right: 20px;
  width: 220px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #ffff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.horarios .card-1 i {
  margin: 5px 5px;
  color: #efa13f;
}

.horarios .card-1 p {
  margin: 5px 0;
}

.horarios .card-1 .subtitulo {
  color: #918c8ced;
}

.card-container {
  margin-top: 80px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container .card {
  width: 250px;
  margin: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.card-container .card .card-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px 0px;
}

.card-container .card .card-count {
  font-weight: bold;
  font-size: 100px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: auto;
  margin-right: -50px;
  padding-right: 25px;
  overflow: hidden;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-container .card .card-content {
  padding: 20px;
  padding-top: 0px;
}

.card-container .card .card-content h2 {
  margin-top: 0px;
  text-align: center;
}

.card-container .card .card-footer {
  height: 55px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#161515), color-stop(#242222), color-stop(#343030), to(#443f3f));
  background-image: linear-gradient(to right top, #000000, #161515, #242222, #343030, #443f3f);
}

.card-container .card:nth-child(1) .card-count,
.card-container .card:nth-child(1) .card-footer {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#161515), color-stop(#242222), color-stop(#343030), to(#443f3f));
  background-image: linear-gradient(to right top, #000000, #161515, #242222, #343030, #443f3f);
}

.card-container .card:nth-child(2) .card-count,
.card-container .card:nth-child(2) .card-footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#fec22f), to(#ea9826));
  background-image: linear-gradient(90deg, #fec22f, #ea9826);
}

.card-container .card:nth-child(3) .card-count,
.card-container .card:nth-child(3) .card-footer {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#161515), color-stop(#242222), color-stop(#343030), to(#443f3f));
  background-image: linear-gradient(to right top, #000000, #161515, #242222, #343030, #443f3f);
}

.card-container .card:hover .card-count {
  width: 160px;
  height: 160px;
}

@media (max-width: 767px) {
  .card-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menuCompleto {
  background-image: url("../../../assets/img/fondo-restaurante.jpg");
  background-size: cover;
  margin-top: 40px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.menuCompleto .buscador {
  text-align: center;
}

.menuCompleto .buscador h5 {
  margin-left: 30px;
  margin-top: 40px;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.menuCompleto .buscador h5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 4px;
  background-color: #efa13f;
}

.menuCompleto .buscador img {
  display: inline-block;
}

.menuCompleto .buscador input {
  width: 50%;
  background-color: #1b1a1a;
  border: none;
  height: 3rem;
  margin-left: 30px;
  color: #efa13f;
}

.menuCompleto .buscador input:hover {
  border-bottom: 5px solid #efa13f;
}

h6 {
  margin-left: 30px;
}

.container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  row-gap: 30px;
}

.titulo-2 {
  margin-top: 100px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

@media (min-width: 1650px) {
  .horarios {
    margin-top: -480px;
  }
  .horarios .card-1 {
    width: 400px;
  }
}

.vacio p {
  color: #5d5c5c;
  line-height: 1.4em;
  text-align: justify;
}
/*# sourceMappingURL=landing-page.component.css.map */