<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" routerLink="/landing">
                <img src="assets/img/olla-caliente.png" height="15" alt="MDB Logo" loading="lazy" />
                <span class="title-1"> A la </span> <span class="title-2"> carta </span>
            </a>
        </div>
        <div class="d-flex align-items-center">
            <form *ngIf="!token" class="d-flex">
                <button class="btn btn-dark login" type="submit" routerLink="">Login</button>
            </form>
            <form *ngIf="token" class="d-flex">
                <button class="btn btn-dark login" (click)="cerrarSesion()">Logout</button>
            </form>
        </div>
    </div>
</nav>